body
{
   width: 98%;
   margin: auto; /* Pour centrer notre page */
   margin-top: 20px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. Essayez d'enlever pour voir ! */
   margin-bottom: 20px;    /* Idem pour le bas du navigateur */
   background-image: url("image/fond.jpg")/*url("fond.png"); /* Une petite image de fond pour éviter d'avoir un vieux fond blanc :p */
}
#en_tete
{
   width: 100%;
   height: 125px;
   /*background-image: url("image/entete.png");*/
   /*background-repeat: no-repeat;*/
   margin-bottom: 10px;
}

#corps 
{	
	
}
#addtask 
{
	
}

#pied_de_page
{ 
   padding: 5px;
   text-align: center;
   margin-bottom: 20px; /*Ici je fait margin top mais le pied continue à ce mélanger avec le corp*/
   color: black;
}
  

  
.red td {
	font-weight : bold;
	color : red;
}
  
.green td {
	font-weight : bold;
	color : green;
}

.orange td {
  	font-weight : bold;
	color : orange;
}

