/*table 
{
   margin: auto; 
   border: 4px outset green; 
   border-collapse: collapse; 
 } 
 
 th 
{
   background-color: #006600;
   color: white;
   font-size: 1.1em;
   font-family: Arial, "Arial Black", Times, "Times New Roman", serif;
}

td 
{
   border: 1px solid black;
   font-family: "Comic Sans MS", "Trebuchet MS", Times, "Times New Roman", serif;
   text-align: center; 
   padding: 5px; 
}
           .ds_box {
	background-color: #FFF;
	border: 1px solid #000;
	position: absolute;
	z-index: 32767;
}*/
 
h1 {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size:22px;
	color:#083772;
	letter-spacing:-1px;
	font-weight:normal;
	background:#eee;
	padding:15px 20px;
	border-bottom:1px solid #ccc;
}

#header {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size:16px;
	color:#083772;
	letter-spacing:-1px;
	font-weight:normal;
	background:#eee;
	padding:3px 10px;
	border-bottom:1px solid #ccc;
}


/*
.ds_tbl {
	background-color: #FFF;
}

.ds_head {
	background-color: #333;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	letter-spacing: 2px;
}

.ds_subhead {
	background-color: #CCC;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	width: 32px;
}

.ds_cell {
	background-color: #EEE;
	color: #000;
	font-size: 13px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
	cursor: pointer;
}

.ds_cell:hover {
	background-color: #F3F3F3;
}*/ /* This hover code won't work for IE */