<style type="text/css">
	  	.imageflottante
            {
              float: left;
               }
           p
		   {
		   color: blue;
           font-size: 18px;
		   }
       </style>

	<p><img src="image/imageflottante.jpg" class="imageflottante" alt="Imageflottante" /></p>

    <p>Bienvenu dans la base de donnée de notre station de ski Alpes Sliders.</p><br/>
	<p>A travers ce site, vous pouvez enregistrer une nouveau séjours,
	trouver un chemin pour aller vers une piste, ou voir les sécouristes libres lorsqu'un accident arrive.</p>
	<p>Notre station existe de puis plusieurs années déjà.<br/>
	pour la sécurité de nos convive, nous gardons les données concernant toute personne ayant séjournées ici.<br/></p>
	<p> 
	Nous vous souhaitons un agréable séjours dans notre satation. 
     <br />
	Merci
	</p>

