<h1>Renseignement sur les attractions</h1>
<form method="post" action="index.php?page=attraction">
	<fieldset>
		<legend >Renseignement attraction</legend>
<table>
    <tr>
        <td>Nom de l'attraction (all, piscine, patinoire, bobsleigh, rampe de saut a ski, cinema) :</td>
        <td><input type="type" name="type" id="date_debut" /></td>
    </tr>
    <tr>
        <td>Prix Max :</td>
        <td><input type="prix" name="prix" id="date_debut" /></td>
    </tr>
</table>

 </fieldset >
       <p>
       <input type="submit" value="Valider" />  <!-- soumettre et réunitialiser le formulaire-->
	   <input type="reset"/>
	   </p>
</form>

