<!--VTP_erreur-->{#error}<!--/VTP_erreur-->


	Afin de vous renseigner sur les logements libres,
	veuillez remplir le formulaire suivant:
	
	<form method="post" action="index.php?page=logement">
   <p>
   <fieldset>
   <legend> Entrez les préférence du touriste </legend>
       <label for="Capcité du logement"> Capacité du logement : 
       <input type="int" name="capacite" id="capacité du logement"/> </label> 
       <br />
	   <fieldset>
	   	<legend> Période </legend>
	   	
	   	<table>
	   	    <tr>
	   	        <td><label for="date1">Daté de début (aaaa-mm-jj) : </label></td>
	   	        <td><input type="date" name="date1" id="date1" /></td>
	   	    </tr>
	   	    <tr>
	   	    	<td><label for="date2">Daté de fin (aaaa-mm-jj) : </label></td>
				<td><input type="date" name="date2" id="date2"/></td>
	   	    </tr>
	   	</table>
	   	
	   	
       	 

	   	 
       
	   </fieldset>
       <input type="submit" / value = "valider">  <br /><!-- soumettre et réunitialiser le formulaire-->
	   <p>     </p>
	   <input type="reset" /> <br />
	
	   
</form


	
