<!--VTP_erreur-->{#error}<!--/VTP_erreur-->
<h2>Trouver le chemin pour aller d'un point à l'autre de la station</h2>
<form method = "post" action = "index.php?page=piste">
	 <fieldset>	<legend> Départ </legend>
	 	<input type = "radio" name = "depart" value = "piste" > <label for = "depart"> Piste</label> <br />
		 <input type = "radio" name = "depart" value = "remontee" ><label for = "depart"> Remonter </label> </br> 
	 	<label for= "id"> Numéro de la remontée ou de la piste de départ </label>
	 	<input type = "int" name ="id_depart"> <br />
	 </fieldset>
	 <fieldset><legend> Arrivée </legend>
	 	<input type = "radio" name = "arrive" value = "piste" > <label for = "arrivee"> Piste</label> <br />
	 	<input type = "radio" name = "arrive" value = "remontee"><label for = "arrivee"> Remonter </label> </br> 
	 	<label for= "id"> Numéro de la remontée ou de la piste d'arrivée </label>
	 	<input type = "int" name ="id_arrive"> <br />
	 </fieldset>
	 <input type = "submit" value= "valider">
	 <br/><br />
	 <input type = "reset">
</form>
