 <!--VTP_periode-->
<h3>Info réservation pour la période de {#date1} à {#date2}</h3>
<!--/VTP_periode-->

<h4>Liste des logements qui ne font l'objet d'aucune réservation</h4>
<table>
    <tr>
        <th>id</th><th>capacite</th><th>Prix</th><th>Categorie</th>
    </tr>
    <!--VTP_resultat-->
    <tr>
    	<td>{#id}</td><td>{#capa}</td><td>{#price}</td><td>{#categorie}</td>
    </tr>
    <!--/VTP_resultat-->
</table>


<h4>Liste des Sejour déjà réservé</h4>
<table>
    <tr>
       <th>id_sejour</th><th>id_logement</th><th>capacite</th><th>Prix</th><th>Categorie</th><th>Date de début</th><th>Date de fin</th>
    </tr>
    <!--VTP_resultat2-->
    
    <tr>
    	<td>{#id_sejour}</td><td>{#id_logement}</td><td>{#capa}</td><td>{#price}</td><td>{#categorie}</td><td>{#debut}</td><td>{#fin}</td>
    </tr>
	<!--/VTP_resultat2-->
</table>
    
<p></p>
<form method="post" action="index.php?page=logement">
	<fieldset>
		<legend > Réservation </legend>
	   	
	   <p> Indiquez la période à réserver</p>
	   <table>
	       <tr>
	           <td><label for="date_debut">Date de début :</label></td>
	           <td> <input type="date" name="date_debut" id="date_debut" /> </td>
	       </tr>
	        <tr>
	           <td><label for="date_fin">Date de fin :</label></td>
	           <td><input type="date" name="date_fin" id="date_fin"/></td>
	       </tr>
	        <tr>
	           <td><label for="id">Id du logement :</label></td>
	           <td><input type="text" name="id" id="id"/></td>
	       </tr>
	   </table>   
      
	 </fieldset >
	 <fieldset>
	<legend> Indentification du touriste </legend>
       <label for="nom"> Nom</label> <br />
       <input type="text" name="nom" />  <br / >
	   
	   <label for="prenom"> Prenom</label > <br />
       <input type="text" name="prenom" />  <br />
	   
	   <label for="sex"> Sexe </label> <br />
       <input type="text" name="sexe"/> <br />
	   
	   <label for="Langue"> Langue maternelle </label> <br />
       <input type="text" name="langue" /> <br />

 	   <label for="Langue"> Date de naissance </label> <br />
       <input type="text" name="naissance" /> <br />
	   
	   <label for="Domicile"> Domicile </label> <br />
       <input type="text" name="domicile"/> <br />

		<label>Préférence</label><br />
	 	<input type = "radio" name = "pref" value = "promeneur" checked="checked" > <label for = "depart"> Promeneur</label> <br />
	 	<input type = "radio" name = "pref" value = "skieur" ><label for = "depart"> Skieur </label> </br> 
	   </fieldset>


	   <fieldset>
	   <legend >A remplir si skieur</legend>
	   <label for="niveau">Niveau </label> <br />
       <input type="text" name="Niveau"/> <br />
	 </fieldset>
	 
       <p>
       <input type="submit" value="Valider" />  <!-- soumettre et réunitialiser le formulaire-->
	   <input type="reset"/>
	   </p>
</form>

